---
layout: default
---

<div class="home">
  <ul class="posts">
    {% for post in site.posts %}
      {% capture day %}{{ post.date | date: '%m%Y' }}{% endcapture %}
      {% capture nday %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}

      {% if day != nday %}
        <br>
        <h5 class="date">[{{ page.author }}@blog ~/]$ ls -l {{ post.date | date: "%Y-%m" }}</h5>
      {% endif %}

      <a href="{{ post.url | prepend: site.baseurl }}">-rw-r--r-- 1 kpj users {{ post.date | date: "%B %-d" }} {{ post.title }}</a>
      <br>
    {% endfor %}
  </ul>
</div>
